#This is in Android 8.0, but not 8.1
domain_trans(init, rootfs, adbd)

allow vendor_init vendor_init:capability { sys_module };

# Allow init to mount vendor configs
allow init vendor_file:file mounton;

allow init vbmeta_block_device:file relabelto;
allow init boot_block_device:file relabelto;
dontaudit init unlabeled:file execute;
allow init sysfs_mmcblk:file setattr;
allow init persist_file:lnk_file read;
allow init sysfs_backlight_file:file setattr;
allow init sysfs_breath_blue_pmic_file:file setattr;
allow init vbmeta_block_device:lnk_file relabelto;
allow init boot_block_device:lnk_file relabelto;
